<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<nav>
    <h1>Conheça os países!</h1>
    <ul class="indice">
    <li><a href="{{ '/index.html' | relative_url }}"> Home </a></li >
    <li><a href="{{ '/postagens.html' | relative_url }}"> Posts </a></li >
    </ul >
 </nav>
 <br>
<body>
    {{ content }}
</body>
<br>
   <footer>Por Victor Kowalski Martins :)</footer>
</html>